openapi: 3.0.3
info:
  title: xpersona Casino API
  description: |
    **AI-first casino API.** All authenticated endpoints require header `Authorization: Bearer <API key>`.
    Base URL: https://xpersona.co (or XPERSONA_BASE_URL).
    Every response is JSON with shape `{ success: boolean, data?: object, error?: string }`.
    On success, use `data`; on 4xx/5xx, body includes `error` (e.g. INSUFFICIENT_BALANCE, VALIDATION_ERROR).
    Optimized for programmatic and AI agent use: same endpoints power the web UI and OpenClaw/agents.
    For session PnL without client state, use GET /api/me/bets. For auto-play, loop game endpoints with a short delay (e.g. 200–500ms).
  version: 1.0.0
servers:
  - url: https://xpersona.co
  - url: http://localhost:3000
    description: Local development
security:
  - bearerAuth: []
paths:
  /api/health:
    get:
      summary: Health check
      security: []
      responses:
        "200":
          description: OK
  /api/me:
    get:
      summary: Current user
      responses:
        "200":
          description: User profile (id, email, name, image, credits, apiKeyPrefix, createdAt)
        "401":
          description: Unauthorized
  /api/me/balance:
    get:
      summary: Balance
      description: Use before/after bets to confirm credits. AI should check balance before placing bets.
      responses:
        "200":
          description: success, data.balance (integer)
        "401":
          description: Unauthorized
  /api/me/bets:
    get:
      summary: Recent bets and session PnL (AI-first)
      description: Returns last N bets with per-bet pnl and aggregate sessionPnl. No client-side state needed. Query limit (default 50, max 200).
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: success, data.bets (array of id, gameType, amount, outcome, payout, pnl, createdAt), data.sessionPnl, data.roundCount
        "401":
          description: Unauthorized
  /api/me/strategies:
    get:
      summary: List strategies (AI/OpenClaw)
      description: Returns user's saved strategies. Query ?gameType=dice to filter.
      parameters:
        - name: gameType
          in: query
          schema: { type: string, enum: [dice, blackjack, plinko, crash, slots] }
      responses:
        "200":
          description: success, data.strategies (array of id, gameType, name, config, createdAt)
        "401":
          description: Unauthorized
    post:
      summary: Create strategy (AI/OpenClaw)
      description: Save a named strategy for a game. Body gameType, name, config (game-specific).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [gameType, name, config]
              properties:
                gameType: { type: string, enum: [dice, blackjack, plinko, crash, slots] }
                name: { type: string, maxLength: 100 }
                config: { type: object }
      responses:
        "200":
          description: success, data (id, gameType, name, config, createdAt)
        "400":
          description: VALIDATION_ERROR
        "401":
          description: Unauthorized
  /api/me/strategies/{id}:
    get:
      summary: Get one strategy
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: success, data (id, gameType, name, config, createdAt)
        "404":
          description: NOT_FOUND
        "401":
          description: Unauthorized
    patch:
      summary: Update strategy (name and/or config)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                config: { type: object }
      responses:
        "200":
          description: success, data
        "400":
          description: VALIDATION_ERROR
        "404":
          description: NOT_FOUND
        "401":
          description: Unauthorized
    delete:
      summary: Delete strategy
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: success, data.id
        "404":
          description: NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/dice/run-strategy:
    post:
      summary: Run dice strategy (AI/OpenClaw)
      description: Execute up to maxRounds (default 20, max 100) with strategyId or inline config. Returns results, sessionPnl, finalBalance, stoppedReason.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                strategyId: { type: string, format: uuid }
                config: { type: object, description: "inline { amount, target, condition, stopAfterRounds?, stopIfBalanceBelow?, stopIfBalanceAbove? }" }
                maxRounds: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: success, data.results, data.sessionPnl, data.finalBalance, data.roundsPlayed, data.stoppedReason
        "400":
          description: VALIDATION_ERROR
        "404":
          description: STRATEGY_NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/plinko/run-strategy:
    post:
      summary: Run plinko strategy (AI/OpenClaw)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                strategyId: { type: string, format: uuid }
                config: { type: object, description: "inline { amount, risk }" }
                maxRounds: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: success, data.results, data.sessionPnl, data.finalBalance, data.roundsPlayed, data.stoppedReason
        "401":
          description: Unauthorized
  /api/games/slots/run-strategy:
    post:
      summary: Run slots strategy (AI/OpenClaw)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                strategyId: { type: string, format: uuid }
                config: { type: object, description: "inline { amount }" }
                maxRounds: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: success, data.results, data.sessionPnl, data.finalBalance, data.roundsPlayed, data.stoppedReason
        "401":
          description: Unauthorized
  /api/me/api-key:
    post:
      summary: Generate API key (returns plain key once)
      responses:
        "200":
          description: { apiKey, apiKeyPrefix }
        "401":
          description: Unauthorized
  /api/faucet:
    post:
      summary: Claim hourly faucet
      responses:
        "200":
          description: { balance, granted, nextFaucetAt }
        "429":
          description: Faucet cooldown
        "401":
          description: Unauthorized
  /api/credits/packages:
    get:
      summary: List credit packages
      security: []
      responses:
        "200":
          description: List of packages (id, name, credits, amountCents, stripePriceId)
  /api/credits/checkout:
    post:
      summary: Create Stripe Checkout session
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [packageId]
              properties:
                packageId: { type: string, format: uuid }
      responses:
        "200":
          description: { url }
        "401":
          description: Unauthorized
  /api/games/dice/bet:
    post:
      summary: Place dice bet (auto-play: call repeatedly with delay)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount, target, condition]
              properties:
                amount: { type: integer, minimum: 1 }
                target: { type: number, minimum: 0, maximum: 100 }
                condition: { type: string, enum: [over, under] }
      responses:
        "200":
          description: betId, result, win, payout, balance, verification
        "400":
          description: VALIDATION_ERROR, INSUFFICIENT_BALANCE, BET_TOO_LOW, BET_TOO_HIGH
        "401":
          description: Unauthorized
  /api/games/blackjack/round:
    post:
      summary: Start blackjack round
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer, minimum: 1 }
      responses:
        "200":
          description: roundId, playerHand, dealerUp, balance, status
        "400":
          description: INSUFFICIENT_BALANCE
        "401":
          description: Unauthorized
  /api/games/blackjack/round/{roundId}/action:
    post:
      summary: Hit, stand, double, or split
      parameters:
        - name: roundId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [hit, stand, double, split] }
      responses:
        "200":
          description: Updated hands or settled outcome
        "400":
          description: ROUND_ENDED, VALIDATION_ERROR
        "403":
          description: ROUND_NOT_YOURS
        "404":
          description: ROUND_NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/plinko/bet:
    post:
      summary: Place plinko bet (auto-play: call repeatedly with delay)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount, risk]
              properties:
                amount: { type: integer, minimum: 1 }
                risk: { type: string, enum: [low, medium, high] }
      responses:
        "200":
          description: betId, path, bucketIndex, multiplier, payout, balance, verification
        "400":
          description: Validation or balance error
        "401":
          description: Unauthorized
  /api/games/crash/rounds/current:
    get:
      summary: Current crash round (or new one created)
      responses:
        "200":
          description: roundId, startedAt, currentMultiplier, status
        "401":
          description: Unauthorized
  /api/games/crash/rounds/current/bet:
    post:
      summary: Place bet on current crash round
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer, minimum: 1 }
      responses:
        "200":
          description: betId, roundId, amount, balance
        "400":
          description: ROUND_ENDED, INSUFFICIENT_BALANCE
        "404":
          description: ROUND_NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/crash/rounds/{id}/cashout:
    post:
      summary: Cash out on crash round
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: cashedOutAt, payout, balance
        "400":
          description: ROUND_ENDED
        "404":
          description: ROUND_NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/slots/spin:
    post:
      summary: Spin slots (auto-play: call repeatedly with delay)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer, minimum: 1 }
      responses:
        "200":
          description: betId, reels, wins, totalPayout, balance, verification
        "400":
          description: INSUFFICIENT_BALANCE
        "401":
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: User API key from dashboard (Generate API key)
