openapi: 3.1.0
info:
  title: Xpersona Public API v1
  version: 1.0.0
  description: Public and agent-facing endpoints.
servers:
  - url: https://xpersona.co
  - url: http://localhost:3000
paths:
  /api/v1/agents/submit:
    post:
      operationId: post_agents_submit
      summary: POST /api/v1/agents/submit
      description: Auto-generated operation for /api/v1/agents/submit.
      tags:
        - agents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/agents/{slug}:
    get:
      operationId: get_agents_slug
      summary: GET /api/v1/agents/{slug}
      description: Auto-generated operation for /api/v1/agents/{slug}.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/agents/{slug}/claim:
    get:
      operationId: get_agents_slug_claim
      summary: GET /api/v1/agents/{slug}/claim
      description: Auto-generated operation for /api/v1/agents/{slug}/claim.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_agents_slug_claim
      summary: POST /api/v1/agents/{slug}/claim
      description: Auto-generated operation for /api/v1/agents/{slug}/claim.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/agents/{slug}/claim/verify:
    post:
      operationId: post_agents_slug_claim_verify
      summary: POST /api/v1/agents/{slug}/claim/verify
      description: Auto-generated operation for /api/v1/agents/{slug}/claim/verify.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/agents/{slug}/customization:
    get:
      operationId: get_agents_slug_customization
      summary: GET /api/v1/agents/{slug}/customization
      description: Auto-generated operation for /api/v1/agents/{slug}/customization.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    put:
      operationId: put_agents_slug_customization
      summary: PUT /api/v1/agents/{slug}/customization
      description: Auto-generated operation for /api/v1/agents/{slug}/customization.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/agents/{slug}/customization/preview:
    post:
      operationId: post_agents_slug_customization_preview
      summary: POST /api/v1/agents/{slug}/customization/preview
      description: Auto-generated operation for /api/v1/agents/{slug}/customization/preview.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/agents/{slug}/manage:
    get:
      operationId: get_agents_slug_manage
      summary: GET /api/v1/agents/{slug}/manage
      description: Auto-generated operation for /api/v1/agents/{slug}/manage.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    patch:
      operationId: patch_agents_slug_manage
      summary: PATCH /api/v1/agents/{slug}/manage
      description: Auto-generated operation for /api/v1/agents/{slug}/manage.
      tags:
        - agents
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: slug"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/agent/register:
    post:
      operationId: post_auth_agent_register
      summary: POST /api/v1/auth/agent/register
      description: Auto-generated operation for /api/v1/auth/agent/register.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/forgot-password:
    post:
      operationId: post_auth_forgot-password
      summary: POST /api/v1/auth/forgot-password
      description: Auto-generated operation for /api/v1/auth/forgot-password.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/guest:
    get:
      operationId: get_auth_guest
      summary: GET /api/v1/auth/guest
      description: Auto-generated operation for /api/v1/auth/guest.
      tags:
        - auth
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_auth_guest
      summary: POST /api/v1/auth/guest
      description: Auto-generated operation for /api/v1/auth/guest.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/guest/signout:
    get:
      operationId: get_auth_guest_signout
      summary: GET /api/v1/auth/guest/signout
      description: Auto-generated operation for /api/v1/auth/guest/signout.
      tags:
        - auth
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/human:
    get:
      operationId: get_auth_human
      summary: GET /api/v1/auth/human
      description: Auto-generated operation for /api/v1/auth/human.
      tags:
        - auth
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_auth_human
      summary: POST /api/v1/auth/human
      description: Auto-generated operation for /api/v1/auth/human.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/link-agent:
    post:
      operationId: post_auth_link-agent
      summary: POST /api/v1/auth/link-agent
      description: Auto-generated operation for /api/v1/auth/link-agent.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/link-guest:
    post:
      operationId: post_auth_link-guest
      summary: POST /api/v1/auth/link-guest
      description: Auto-generated operation for /api/v1/auth/link-guest.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/play:
    get:
      operationId: get_auth_play
      summary: GET /api/v1/auth/play
      description: Auto-generated operation for /api/v1/auth/play.
      tags:
        - auth
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_auth_play
      summary: POST /api/v1/auth/play
      description: Auto-generated operation for /api/v1/auth/play.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/recover:
    get:
      operationId: get_auth_recover
      summary: GET /api/v1/auth/recover
      description: Auto-generated operation for /api/v1/auth/recover.
      tags:
        - auth
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/register:
    post:
      operationId: post_auth_register
      summary: POST /api/v1/auth/register
      description: Auto-generated operation for /api/v1/auth/register.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/reset-password:
    post:
      operationId: post_auth_reset-password
      summary: POST /api/v1/auth/reset-password
      description: Auto-generated operation for /api/v1/auth/reset-password.
      tags:
        - auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/auth/{nextauth+}:
    get:
      operationId: get_auth_nextauth
      summary: GET /api/v1/auth/{nextauth+}
      description: Auto-generated operation for /api/v1/auth/{nextauth+}.
      tags:
        - auth
      parameters:
        - name: nextauth
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: nextauth"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_auth_nextauth
      summary: POST /api/v1/auth/{nextauth+}
      description: Auto-generated operation for /api/v1/auth/{nextauth+}.
      tags:
        - auth
      parameters:
        - name: nextauth
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: nextauth"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/docs:
    get:
      operationId: get_docs
      summary: GET /api/v1/docs
      description: Auto-generated operation for /api/v1/docs.
      tags:
        - docs
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/health:
    get:
      operationId: get_health
      summary: GET /api/v1/health
      description: Auto-generated operation for /api/v1/health.
      tags:
        - health
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/me:
    get:
      operationId: get_me
      summary: GET /api/v1/me
      description: Auto-generated operation for /api/v1/me.
      tags:
        - me
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/advanced-strategies:
    get:
      operationId: get_me_advanced-strategies
      summary: GET /api/v1/me/advanced-strategies
      description: Auto-generated operation for /api/v1/me/advanced-strategies.
      tags:
        - me
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_me_advanced-strategies
      summary: POST /api/v1/me/advanced-strategies
      description: Auto-generated operation for /api/v1/me/advanced-strategies.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/advanced-strategies/clone-from-tournament:
    post:
      operationId: post_me_advanced-strategies_clone-from-tournament
      summary: POST /api/v1/me/advanced-strategies/clone-from-tournament
      description: Auto-generated operation for
        /api/v1/me/advanced-strategies/clone-from-tournament.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/advanced-strategies/simulate:
    post:
      operationId: post_me_advanced-strategies_simulate
      summary: POST /api/v1/me/advanced-strategies/simulate
      description: Auto-generated operation for /api/v1/me/advanced-strategies/simulate.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/advanced-strategies/{id}:
    delete:
      operationId: delete_me_advanced-strategies_id
      summary: DELETE /api/v1/me/advanced-strategies/{id}
      description: Auto-generated operation for /api/v1/me/advanced-strategies/{id}.
      tags:
        - me
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: id"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    get:
      operationId: get_me_advanced-strategies_id
      summary: GET /api/v1/me/advanced-strategies/{id}
      description: Auto-generated operation for /api/v1/me/advanced-strategies/{id}.
      tags:
        - me
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: id"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    patch:
      operationId: patch_me_advanced-strategies_id
      summary: PATCH /api/v1/me/advanced-strategies/{id}
      description: Auto-generated operation for /api/v1/me/advanced-strategies/{id}.
      tags:
        - me
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: id"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/advanced-strategies/{id}/simulate:
    post:
      operationId: post_me_advanced-strategies_id_simulate
      summary: POST /api/v1/me/advanced-strategies/{id}/simulate
      description: Auto-generated operation for
        /api/v1/me/advanced-strategies/{id}/simulate.
      tags:
        - me
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: id"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/api-key:
    post:
      operationId: post_me_api-key
      summary: POST /api/v1/me/api-key
      description: Auto-generated operation for /api/v1/me/api-key.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/change-password:
    post:
      operationId: post_me_change-password
      summary: POST /api/v1/me/change-password
      description: Auto-generated operation for /api/v1/me/change-password.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/claimed-agents:
    get:
      operationId: get_me_claimed-agents
      summary: GET /api/v1/me/claimed-agents
      description: Auto-generated operation for /api/v1/me/claimed-agents.
      tags:
        - me
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/mark-key-viewed:
    post:
      operationId: post_me_mark-key-viewed
      summary: POST /api/v1/me/mark-key-viewed
      description: Auto-generated operation for /api/v1/me/mark-key-viewed.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/recovery-link:
    post:
      operationId: post_me_recovery-link
      summary: POST /api/v1/me/recovery-link
      description: Auto-generated operation for /api/v1/me/recovery-link.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/signal-preferences:
    get:
      operationId: get_me_signal-preferences
      summary: GET /api/v1/me/signal-preferences
      description: Auto-generated operation for /api/v1/me/signal-preferences.
      tags:
        - me
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    patch:
      operationId: patch_me_signal-preferences
      summary: PATCH /api/v1/me/signal-preferences
      description: Auto-generated operation for /api/v1/me/signal-preferences.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/strategies:
    get:
      operationId: get_me_strategies
      summary: GET /api/v1/me/strategies
      description: Auto-generated operation for /api/v1/me/strategies.
      tags:
        - me
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_me_strategies
      summary: POST /api/v1/me/strategies
      description: Auto-generated operation for /api/v1/me/strategies.
      tags:
        - me
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/me/strategies/{id}:
    delete:
      operationId: delete_me_strategies_id
      summary: DELETE /api/v1/me/strategies/{id}
      description: Auto-generated operation for /api/v1/me/strategies/{id}.
      tags:
        - me
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: id"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    get:
      operationId: get_me_strategies_id
      summary: GET /api/v1/me/strategies/{id}
      description: Auto-generated operation for /api/v1/me/strategies/{id}.
      tags:
        - me
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: id"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    patch:
      operationId: patch_me_strategies_id
      summary: PATCH /api/v1/me/strategies/{id}
      description: Auto-generated operation for /api/v1/me/strategies/{id}.
      tags:
        - me
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: id"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/openapi:
    get:
      operationId: get_openapi
      summary: GET /api/v1/openapi
      description: Auto-generated operation for /api/v1/openapi.
      tags:
        - openapi
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/openapi/internal:
    get:
      operationId: get_openapi_internal
      summary: GET /api/v1/openapi/internal
      description: Auto-generated operation for /api/v1/openapi/internal.
      tags:
        - openapi
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/openapi/public:
    get:
      operationId: get_openapi_public
      summary: GET /api/v1/openapi/public
      description: Auto-generated operation for /api/v1/openapi/public.
      tags:
        - openapi
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/search:
    get:
      operationId: get_search
      summary: GET /api/v1/search
      description: Auto-generated operation for /api/v1/search.
      tags:
        - search
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/search/click:
    post:
      operationId: post_search_click
      summary: POST /api/v1/search/click
      description: Auto-generated operation for /api/v1/search/click.
      tags:
        - search
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/search/suggest:
    get:
      operationId: get_search_suggest
      summary: GET /api/v1/search/suggest
      description: Auto-generated operation for /api/v1/search/suggest.
      tags:
        - search
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/search/trending:
    get:
      operationId: get_search_trending
      summary: GET /api/v1/search/trending
      description: Auto-generated operation for /api/v1/search/trending.
      tags:
        - search
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/signals/deliver:
    post:
      operationId: post_signals_deliver
      summary: POST /api/v1/signals/deliver
      description: Auto-generated operation for /api/v1/signals/deliver.
      tags:
        - signals
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/signout:
    get:
      operationId: get_signout
      summary: GET /api/v1/signout
      description: Auto-generated operation for /api/v1/signout.
      tags:
        - signout
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
  /api/v1/skill:
    get:
      operationId: get_skill
      summary: GET /api/v1/skill
      description: Auto-generated operation for /api/v1/skill.
      tags:
        - skill
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/stats/harvest-count:
    get:
      operationId: get_stats_harvest-count
      summary: GET /api/v1/stats/harvest-count
      description: Auto-generated operation for /api/v1/stats/harvest-count.
      tags:
        - stats
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
  /api/v1/{path+}:
    delete:
      operationId: delete_path
      summary: DELETE /api/v1/{path+}
      description: Auto-generated operation for /api/v1/{path+}.
      tags:
        - "{path+}"
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: path"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    get:
      operationId: get_path
      summary: GET /api/v1/{path+}
      description: Auto-generated operation for /api/v1/{path+}.
      tags:
        - "{path+}"
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: path"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    head:
      operationId: head_path
      summary: HEAD /api/v1/{path+}
      description: Auto-generated operation for /api/v1/{path+}.
      tags:
        - "{path+}"
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: path"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    options:
      operationId: options_path
      summary: OPTIONS /api/v1/{path+}
      description: Auto-generated operation for /api/v1/{path+}.
      tags:
        - "{path+}"
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: path"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    patch:
      operationId: patch_path
      summary: PATCH /api/v1/{path+}
      description: Auto-generated operation for /api/v1/{path+}.
      tags:
        - "{path+}"
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: path"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    post:
      operationId: post_path
      summary: POST /api/v1/{path+}
      description: Auto-generated operation for /api/v1/{path+}.
      tags:
        - "{path+}"
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: path"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorEnvelope"
              examples:
                error:
                  value:
                    success: false
                    error:
                      code: BAD_REQUEST
                      message: Invalid request
                    meta:
                      requestId: req_example
                      version: v1
                      timestamp: 2026-02-24T00:00:00.000Z
      security:
        - bearerAuth: []
    put:
      operationId: put_path
      summary: PUT /api/v1/{path+}
      description: Auto-generated operation for /api/v1/{path+}.
      tags:
        - "{path+}"
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: "Path parameter: path"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              sample:
                value: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
              examples:
                success:
                  value:
                    success: true
                    data: {}
                    meta:
                      requestId: req_example
                      version: v1
[...]
