openapi: 3.0.3
info:
  title: xpersona Casino API
  description: |
    **AI-first casino API.** All authenticated endpoints require header `Authorization: Bearer <API key>`.
    Base URL: https://xpersona.co (or XPERSONA_BASE_URL).
    Every response is JSON with shape `{ success: boolean, data?: object, error?: string }`.
    On success, use `data`; on 4xx/5xx, body includes `error` (e.g. INSUFFICIENT_BALANCE, VALIDATION_ERROR).
    Optimized for programmatic and AI agent use: same endpoints power the web UI and OpenClaw/agents.
    **AI guidance:** Prefer GET /api/me/session-stats over /api/me/balance + /api/me/bets for single-call stats.
    For auto-play, loop game endpoints with a short delay (e.g. 200–500ms).
    **Error recovery:** INSUFFICIENT_BALANCE → POST /api/faucet or GET /api/credits/packages + checkout.
    FAUCET_COOLDOWN → wait until data.nextFaucetAt. ROUND_ENDED (Crash) → GET current round and retry.
  version: 1.0.0
servers:
  - url: https://xpersona.co
  - url: http://localhost:3000
    description: Local development
security:
  - bearerAuth: []
paths:
  /api/health:
    get:
      summary: Health check
      security: []
      responses:
        "200":
          description: OK
  /api/me:
    get:
      summary: Current user
      responses:
        "200":
          description: User profile (id, email, name, image, credits, apiKeyPrefix, createdAt)
        "401":
          description: Unauthorized
  /api/me/balance:
    get:
      summary: Balance
      description: Use before/after bets to confirm credits. AI should check balance before placing bets.
      responses:
        "200":
          description: success, data.balance (integer)
        "401":
          description: Unauthorized
  /api/me/bets:
    get:
      summary: Recent bets and session PnL (AI-first)
      description: Returns last N bets with per-bet pnl and aggregate sessionPnl. No client-side state needed. Query limit (default 50, max 200).
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: success, data.bets (array of id, gameType, amount, outcome, payout, pnl, createdAt), data.sessionPnl, data.roundCount
        "401":
          description: Unauthorized
  /api/me/session-stats:
    get:
      summary: Session stats (AI agentic)
      description: |
        Unified stats for agents - balance, rounds, PnL, win rate, recent bets. Machine-readable.
        **AI:** Prefer this over GET /api/me/balance + /api/me/bets for "how am I doing?" queries.
      parameters:
        - name: gameType
          in: query
          schema: { type: string, default: dice }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: success, data.balance, data.rounds, data.sessionPnl, data.winRate, data.recentBets
        "401":
          description: Unauthorized
  /api/me/strategies:
    get:
      summary: List strategies (AI/OpenClaw)
      description: Returns user's saved strategies. Query ?gameType=dice to filter.
      parameters:
        - name: gameType
          in: query
          schema: { type: string, enum: [dice, blackjack, plinko, crash, slots] }
      responses:
        "200":
          description: success, data.strategies (array of id, gameType, name, config, createdAt)
        "401":
          description: Unauthorized
    post:
      summary: Create strategy (AI/OpenClaw)
      description: Save a named strategy for a game. Body gameType, name, config (game-specific).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [gameType, name, config]
              properties:
                gameType: { type: string, enum: [dice, blackjack, plinko, crash, slots] }
                name: { type: string, maxLength: 100 }
                config: { type: object }
      responses:
        "200":
          description: success, data (id, gameType, name, config, createdAt)
        "400":
          description: VALIDATION_ERROR
        "401":
          description: Unauthorized
  /api/me/strategies/{id}:
    get:
      summary: Get one strategy
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: success, data (id, gameType, name, config, createdAt)
        "404":
          description: NOT_FOUND
        "401":
          description: Unauthorized
    patch:
      summary: Update strategy (name and/or config)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                config: { type: object }
      responses:
        "200":
          description: success, data
        "400":
          description: VALIDATION_ERROR
        "404":
          description: NOT_FOUND
        "401":
          description: Unauthorized
    delete:
      summary: Delete strategy
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: success, data.id
        "404":
          description: NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/dice/run-strategy:
    post:
      summary: Run dice strategy (AI/OpenClaw)
      description: Execute up to maxRounds (default 20, max 100). Returns results, sessionPnl, finalBalance, stoppedReason.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                strategyId: { type: string, format: uuid }
                config: { type: object, description: "inline { amount, target, condition, progressionType?: flat|martingale|paroli|dalembert|fibonacci|labouchere|oscar|kelly, maxBet?, maxConsecutiveLosses?, maxConsecutiveWins?, unitStep?, stopAfterRounds?, stopIfBalanceBelow?, stopIfBalanceAbove? }" }
                maxRounds: { type: integer, minimum: 1, maximum: 100, default: 20 }
            examples:
              inlineMartingale:
                summary: Inline Martingale
                value:
                  config:
                    amount: 10
                    target: 50
                    condition: over
                    progressionType: martingale
                  maxRounds: 20
              savedStrategy:
                summary: By strategy ID
                value:
                  strategyId: "uuid-from-create"
                  maxRounds: 30
      responses:
        "200":
          description: success, data.results, data.sessionPnl, data.finalBalance, data.roundsPlayed, data.stoppedReason
        "400":
          description: VALIDATION_ERROR - config must include amount, target, condition for dice
        "404":
          description: STRATEGY_NOT_FOUND - invalid strategyId
        "401":
          description: Unauthorized
  /api/games/plinko/run-strategy:
    post:
      summary: Run plinko strategy (AI/OpenClaw)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                strategyId: { type: string, format: uuid }
                config: { type: object, description: "inline { amount, risk }" }
                maxRounds: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: success, data.results, data.sessionPnl, data.finalBalance, data.roundsPlayed, data.stoppedReason
        "401":
          description: Unauthorized
  /api/games/slots/run-strategy:
    post:
      summary: Run slots strategy (AI/OpenClaw)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                strategyId: { type: string, format: uuid }
                config: { type: object, description: "inline { amount }" }
                maxRounds: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: success, data.results, data.sessionPnl, data.finalBalance, data.roundsPlayed, data.stoppedReason
        "401":
          description: Unauthorized
  /api/me/api-key:
    post:
      summary: Generate API key (returns plain key once)
      responses:
        "200":
          description: Returns apiKey and apiKeyPrefix (key shown once only)
        "401":
          description: Unauthorized
  /api/faucet:
    post:
      summary: Claim hourly faucet
      description: Grants 100 credits. 1 hour cooldown. On 429 wait until data.nextFaucetAt.
      responses:
        "200":
          description: success, data.balance, data.granted, data.nextFaucetAt
        "429":
          description: FAUCET_COOLDOWN - wait until data.nextFaucetAt (ISO string) before claiming again
        "401":
          description: Unauthorized
  /api/credits/packages:
    get:
      summary: List credit packages
      security: []
      responses:
        "200":
          description: List of packages (id, name, credits, amountCents, stripePriceId)
  /api/credits/checkout:
    post:
      summary: Create Stripe Checkout session
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [packageId]
              properties:
                packageId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Returns checkout url
        "401":
          description: Unauthorized
  /api/openclaw/tools:
    get:
      summary: OpenClaw tool discovery
      description: Returns the full tool schema (tool names, parameters, returns) for programmatic discovery. Same auth as REST; Bearer optional for schema.
      security: []
      responses:
        "200":
          description: success, tools (object mapping tool name to schema with parameters and returns)
    post:
      summary: Execute OpenClaw tool
      description: OpenClaw-native tools endpoint. Single POST per action; body specifies tool name and parameters. Requires Authorization Bearer API key (except for casino_auth_guest).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [tool, parameters]
              properties:
                tool: { type: string, description: Tool name (e.g. casino_get_balance, casino_place_dice_bet) }
                parameters: { type: object, description: Tool-specific parameters }
                agent_token: { type: string, description: Optional agent context token }
      responses:
        "200":
          description: success true, tool, result (tool output), meta (e.g. rate_limit_remaining)
        "400":
          description: Invalid tool name or parameters
        "401":
          description: Unauthorized (missing or invalid Bearer token)
        "429":
          description: Rate limit exceeded
  /api/games/dice/bet:
    post:
      summary: Place dice bet (auto-play: call repeatedly with delay)
      description: Dice rules - house edge 3%, multiplier = 0.97/winProbability. Over 50 = 49% win, ~1.98x payout.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount, target, condition]
              properties:
                amount:
                  type: integer
                  minimum: 1
                target:
                  type: number
                  minimum: 0
                  maximum: 100
                condition:
                  type: string
                  enum: [over, under]
      responses:
        "200":
          description: betId, result, win, payout, balance, verification
        "400":
          description: VALIDATION_ERROR, INSUFFICIENT_BALANCE (suggest faucet or purchase), BET_TOO_LOW, BET_TOO_HIGH (min 1 max 10000)
        "401":
          description: Unauthorized
  /api/games/blackjack/round:
    post:
      summary: Start blackjack round
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: roundId, playerHand, dealerUp, balance, status
        "400":
          description: INSUFFICIENT_BALANCE
        "401":
          description: Unauthorized
  /api/games/blackjack/round/{roundId}/action:
    post:
      summary: Hit, stand, double, or split
      parameters:
        - name: roundId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [hit, stand, double, split] }
      responses:
        "200":
          description: Updated hands or settled outcome
        "400":
          description: ROUND_ENDED, VALIDATION_ERROR
        "403":
          description: ROUND_NOT_YOURS
        "404":
          description: ROUND_NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/plinko/bet:
    post:
      summary: Place plinko bet (auto-play: call repeatedly with delay)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount, risk]
              properties:
                amount:
                  type: integer
                  minimum: 1
                risk:
                  type: string
                  enum: [low, medium, high]
      responses:
        "200":
          description: betId, path, bucketIndex, multiplier, payout, balance, verification
        "400":
          description: Validation or balance error
        "401":
          description: Unauthorized
  /api/games/crash/rounds/current:
    get:
      summary: Current crash round (or new one created)
      responses:
        "200":
          description: roundId, startedAt, currentMultiplier, status
        "401":
          description: Unauthorized
  /api/games/crash/rounds/current/bet:
    post:
      summary: Place bet on current crash round
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: betId, roundId, amount, balance
        "400":
          description: ROUND_ENDED, INSUFFICIENT_BALANCE
        "404":
          description: ROUND_NOT_FOUND
        "401":
          description: Unauthorized
  /api/games/crash/rounds/{id}/cashout:
    post:
      summary: Cash out on crash round
      description: On 400/404 round ended or invalid. Use GET /api/games/crash/rounds/current for new round.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: cashedOutAt, payout, balance
        "400":
          description: ROUND_ENDED - round already crashed; fetch current round and place new bet
        "404":
          description: ROUND_NOT_FOUND - invalid round id; use GET /api/games/crash/rounds/current
        "401":
          description: Unauthorized
  /api/games/slots/spin:
    post:
      summary: Spin slots (auto-play: call repeatedly with delay)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: betId, reels, wins, totalPayout, balance, verification
        "400":
          description: INSUFFICIENT_BALANCE
        "401":
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: User API key from dashboard (Generate API key)
