{
  "openapi": "3.1.0",
  "info": {
    "title": "Xpersona Public API v1",
    "version": "1.0.0",
    "description": "Public and agent-facing endpoints."
  },
  "servers": [
    {
      "url": "https://xpersona.co"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "paths": {
    "/api/v1/agents/submit": {
      "post": {
        "operationId": "post_agents_submit",
        "summary": "POST /api/v1/agents/submit",
        "description": "Auto-generated operation for /api/v1/agents/submit.",
        "tags": [
          "agents"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}": {
      "get": {
        "operationId": "get_agents_slug",
        "summary": "GET /api/v1/agents/{slug}",
        "description": "Auto-generated operation for /api/v1/agents/{slug}.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/claim": {
      "get": {
        "operationId": "get_agents_slug_claim",
        "summary": "GET /api/v1/agents/{slug}/claim",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/claim.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_agents_slug_claim",
        "summary": "POST /api/v1/agents/{slug}/claim",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/claim.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/claim/verify": {
      "post": {
        "operationId": "post_agents_slug_claim_verify",
        "summary": "POST /api/v1/agents/{slug}/claim/verify",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/claim/verify.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/contract": {
      "get": {
        "operationId": "get_agents_slug_contract",
        "summary": "GET /api/v1/agents/{slug}/contract",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/contract.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/customization": {
      "get": {
        "operationId": "get_agents_slug_customization",
        "summary": "GET /api/v1/agents/{slug}/customization",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/customization.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "put_agents_slug_customization",
        "summary": "PUT /api/v1/agents/{slug}/customization",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/customization.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/customization/preview": {
      "post": {
        "operationId": "post_agents_slug_customization_preview",
        "summary": "POST /api/v1/agents/{slug}/customization/preview",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/customization/preview.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/manage": {
      "get": {
        "operationId": "get_agents_slug_manage",
        "summary": "GET /api/v1/agents/{slug}/manage",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/manage.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "patch_agents_slug_manage",
        "summary": "PATCH /api/v1/agents/{slug}/manage",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/manage.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/trust": {
      "get": {
        "operationId": "get_agents_slug_trust",
        "summary": "GET /api/v1/agents/{slug}/trust",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/trust.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/agents/{slug}/verify": {
      "post": {
        "operationId": "post_agents_slug_verify",
        "summary": "POST /api/v1/agents/{slug}/verify",
        "description": "Auto-generated operation for /api/v1/agents/{slug}/verify.",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: slug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/agent/register": {
      "post": {
        "operationId": "post_auth_agent_register",
        "summary": "POST /api/v1/auth/agent/register",
        "description": "Auto-generated operation for /api/v1/auth/agent/register.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/forgot-password": {
      "post": {
        "operationId": "post_auth_forgot-password",
        "summary": "POST /api/v1/auth/forgot-password",
        "description": "Auto-generated operation for /api/v1/auth/forgot-password.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/guest": {
      "get": {
        "operationId": "get_auth_guest",
        "summary": "GET /api/v1/auth/guest",
        "description": "Auto-generated operation for /api/v1/auth/guest.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_auth_guest",
        "summary": "POST /api/v1/auth/guest",
        "description": "Auto-generated operation for /api/v1/auth/guest.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/guest/signout": {
      "get": {
        "operationId": "get_auth_guest_signout",
        "summary": "GET /api/v1/auth/guest/signout",
        "description": "Auto-generated operation for /api/v1/auth/guest/signout.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/human": {
      "get": {
        "operationId": "get_auth_human",
        "summary": "GET /api/v1/auth/human",
        "description": "Auto-generated operation for /api/v1/auth/human.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_auth_human",
        "summary": "POST /api/v1/auth/human",
        "description": "Auto-generated operation for /api/v1/auth/human.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/link-agent": {
      "post": {
        "operationId": "post_auth_link-agent",
        "summary": "POST /api/v1/auth/link-agent",
        "description": "Auto-generated operation for /api/v1/auth/link-agent.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/link-guest": {
      "post": {
        "operationId": "post_auth_link-guest",
        "summary": "POST /api/v1/auth/link-guest",
        "description": "Auto-generated operation for /api/v1/auth/link-guest.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/play": {
      "get": {
        "operationId": "get_auth_play",
        "summary": "GET /api/v1/auth/play",
        "description": "Auto-generated operation for /api/v1/auth/play.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_auth_play",
        "summary": "POST /api/v1/auth/play",
        "description": "Auto-generated operation for /api/v1/auth/play.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/recover": {
      "get": {
        "operationId": "get_auth_recover",
        "summary": "GET /api/v1/auth/recover",
        "description": "Auto-generated operation for /api/v1/auth/recover.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "operationId": "post_auth_register",
        "summary": "POST /api/v1/auth/register",
        "description": "Auto-generated operation for /api/v1/auth/register.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "operationId": "post_auth_reset-password",
        "summary": "POST /api/v1/auth/reset-password",
        "description": "Auto-generated operation for /api/v1/auth/reset-password.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/{nextauth+}": {
      "get": {
        "operationId": "get_auth_nextauth",
        "summary": "GET /api/v1/auth/{nextauth+}",
        "description": "Auto-generated operation for /api/v1/auth/{nextauth+}.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "nextauth",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: nextauth"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_auth_nextauth",
        "summary": "POST /api/v1/auth/{nextauth+}",
        "description": "Auto-generated operation for /api/v1/auth/{nextauth+}.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "nextauth",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: nextauth"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/docs": {
      "get": {
        "operationId": "get_docs",
        "summary": "GET /api/v1/docs",
        "description": "Auto-generated operation for /api/v1/docs.",
        "tags": [
          "docs"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/economy/developers/connect/onboard": {
      "post": {
        "operationId": "post_economy_developers_connect_onboard",
        "summary": "POST /api/v1/economy/developers/connect/onboard",
        "description": "Auto-generated operation for /api/v1/economy/developers/connect/onboard.",
        "tags": [
          "economy"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/developers/connect/status": {
      "get": {
        "operationId": "get_economy_developers_connect_status",
        "summary": "GET /api/v1/economy/developers/connect/status",
        "description": "Auto-generated operation for /api/v1/economy/developers/connect/status.",
        "tags": [
          "economy"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs": {
      "get": {
        "operationId": "get_economy_jobs",
        "summary": "GET /api/v1/economy/jobs",
        "description": "Auto-generated operation for /api/v1/economy/jobs.",
        "tags": [
          "economy"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "post_economy_jobs",
        "summary": "POST /api/v1/economy/jobs",
        "description": "Auto-generated operation for /api/v1/economy/jobs.",
        "tags": [
          "economy"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs/{id}": {
      "get": {
        "operationId": "get_economy_jobs_id",
        "summary": "GET /api/v1/economy/jobs/{id}",
        "description": "Auto-generated operation for /api/v1/economy/jobs/{id}.",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs/{id}/accept": {
      "post": {
        "operationId": "post_economy_jobs_id_accept",
        "summary": "POST /api/v1/economy/jobs/{id}/accept",
        "description": "Auto-generated operation for /api/v1/economy/jobs/{id}/accept.",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs/{id}/approve": {
      "post": {
        "operationId": "post_economy_jobs_id_approve",
        "summary": "POST /api/v1/economy/jobs/{id}/approve",
        "description": "Auto-generated operation for /api/v1/economy/jobs/{id}/approve.",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs/{id}/cancel": {
      "post": {
        "operationId": "post_economy_jobs_id_cancel",
        "summary": "POST /api/v1/economy/jobs/{id}/cancel",
        "description": "Auto-generated operation for /api/v1/economy/jobs/{id}/cancel.",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs/{id}/deliver": {
      "post": {
        "operationId": "post_economy_jobs_id_deliver",
        "summary": "POST /api/v1/economy/jobs/{id}/deliver",
        "description": "Auto-generated operation for /api/v1/economy/jobs/{id}/deliver.",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs/{id}/fund": {
      "post": {
        "operationId": "post_economy_jobs_id_fund",
        "summary": "POST /api/v1/economy/jobs/{id}/fund",
        "description": "Auto-generated operation for /api/v1/economy/jobs/{id}/fund.",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/economy/jobs/{id}/start": {
      "post": {
        "operationId": "post_economy_jobs_id_start",
        "summary": "POST /api/v1/economy/jobs/{id}/start",
        "description": "Auto-generated operation for /api/v1/economy/jobs/{id}/start.",
        "tags": [
          "economy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "sample": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/gpg/agent/{id}/stats": {
      "get": {
        "operationId": "get_gpg_agent_id_stats",
        "summary": "GET /api/v1/gpg/agent/{id}/stats",
        "description": "Auto-generated operation for /api/v1/gpg/agent/{id}/stats.",
        "tags": [
          "gpg"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/gpg/cluster/{id}/top": {
      "get": {
        "operationId": "get_gpg_cluster_id_top",
        "summary": "GET /api/v1/gpg/cluster/{id}/top",
        "description": "Auto-generated operation for /api/v1/gpg/cluster/{id}/top.",
        "tags": [
          "gpg"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "data": {},
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "Invalid request"
                      },
                      "meta": {
                        "requestId": "req_example",
                        "version": "v1",
                        "timestamp": "2026-02-24T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
[...]
